.lista-opciones label {
    display:block;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 8px;
}

.lista-opciones select {
    width: 100%;
    background: #FFF;
    box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.06);
    padding: 24px;
    border: none;
    outline-color: #6278F7;
    font-family: 'Montserrat', sans-serif;
}

.opciones {
    background-color: #7a8cf5;
    color: white;
    font-size: 18px;
    padding: 1rem 0;
    font-family: 'Montserrat', sans-serif;
}